---
title: Typography
---

<div class="container">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	<h2>Heading two example</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	<h3>Heading three example</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	<h4>Heading four example</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	<h5>Heading five example</h5>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	<h6>Heading six example</h6>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	<p>&nbsp;</p>
	<div class="typo-title">Normal Paragraph of text</div>
	<p>This is a Normal paragraph of text created with lorem ipsum text. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">This is a link in normal paragraph text</a> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&quot;</p>
	<p>
	&nbsp;</p>
	<div class="typo-title">Special Tags</div>
	<blockquote>This is a blocquote tag example created with lorem ipsum text. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</blockquote>

	<pre class="prettyprint">
body {
  font-family:Arial,Helvetica,Verdana,&quot;Bitstream Vera Sans&quot;,sans-serif;
  font-size:81.25%;
  line-height:150%;
  color:#252525;
  background:#ffffff;
}
	</pre>

<code class="prettyprint">
body {
  font-family:Arial,Helvetica,Verdana,&quot;Bitstream Vera Sans&quot;,sans-serif;<br />
  font-size:81.25%;<br />
  line-height:150%;<br />
  color:#252525;<br />
  background:#ffffff;<br />
}
</code>
	<p>
	&nbsp;</p>
	<div class="typo-title">List Styles</div>
	<div class="clearfix">
	<div style="float: left; width: 48%; padding-right: 1%;">
		<ol>
			<li>List item 1</li>
			<li>List item 2</li>
			<li>List item 3</li>
		</ol>
	</div>
	<div style="float: left; width: 48%; padding-right: 1%;">
		<ul>
			<li>List item 1</li>
			<li>List item 2</li>
			<li>List item 3</li>
		</ul>
	</div>
	</div>
	<p>
	&nbsp;</p>
	<div class="typo-title">Special Messaging Box styles</div>
	<div class="alert success">Status Message Box: Use <strong>&lt;div class=&quot;status-box&quot;&gt;.. Your text goes here ..&lt;/div&gt;</strong> to create this.</div>
	<div class="alert warning">Warning Message Box: <strong>Use &lt;div class=&quot;warning-box&quot;&gt;.. Your text goes here ..&lt;/div&gt;</strong> to create this.</div>
	<div class="alert error">Error Message Box: <strong> Use &lt;div class=&quot;warning&quot;&gt;.. Your text goes here ..&lt;/div&gt;</strong> to create this.</div>
	<div class="alert info">Info Message Box:. Use <strong>&lt;div class=&quot;info-box&quot;&gt;.. Your text goes here ..&lt;/div&gt;</strong> to create this.</div>

	<form>
		<input type="text" size="20" placeholder="Text Input" /><br />
		<label>Radio Button</label> <input type="radio" /><br />
		<label>Checkbox</label> <input type="checkbox" /><br />
		<textarea></textarea><br />
		<button type="submit">Submit</button> <button type="reset">Reset</button>
	</form>

	<a class="tag" href="#">Tag</a>
	<a class="tag" href="#">Tag</a>
	<a class="tag" href="#">Tag</a>
	<a class="tag" href="#">Tag</a>

</div><!-- /.container -->