---
title: About
---

<div id="about">
	<div class="container">
		<h1>About Wes Wilke</h1>

		<section id="bio">
			I began my web endevor in college building the basic Hello World application to accompany my simple 3-page website.  I love the challenge that web provides and have an insatiable thirst for knowledge.  The dynamic nature of the industry has kept me on my toes and quickly turned homework into a hobby and finally into a career.  I love what I do and I'm eager for more!
		</section>

		<section id="musings">
			Currently I'm exploring AngularJS, continuing to improve my CSS3 skills through the use of SASS (Compass), and loving the benefits derived from Grunt.
		</section>

		<section id="contact">
			<a href="mailto:weswilke@gmail.com" class="btn contact">Say hi</a>
		</section>
	</div>
</div>