<section id="header">
	<div class="container">

		<div class="header-info">
			<a href="/">
				<img src="images/wes-wilke.jpg" class="circle" />
				<h1>Wes Wilke</h1>
			</a>
		</div>

		<header>
		    <h1>{{title}}</h1>
		</header>
	</div>
</section>