// Colors
$primary: #333333;
$secondary: #F26740;

$error: #FEE2E2;
$success: #EEF9E6;
$info:  #E2F4FE;
$warning: #FDF4E2;

//Sassy Buttons
$sb-base-color:      #0bc265;      // Base color of your button
$sb-second-color:    false;        // Optional second color of button gradient
$sb-border-radius:   10px;         // Button border radius
$sb-border-width:    1px;          // Button border width
$sb-padding:         0.5em 1.5em;  // Button padding
$sb-font-size:       20px;         // Button font-size
$sb-line-height:     1.2em;        // Button line-height
$sb-text-color:      white;        // Button text color
$sb-text-style:      "inset";      // Button text shadow style
$sb-gradient-style:  "matte";      // Button gradient style
$sb-auto-states:     true;         // Automatically create pseudo styles