%alert {
	padding: .5em;
	margin: .5em 0;
	border: {
		width: 2px;
		style: solid;
	}
	display: inline-block;
}

.success {
	@extend %alert;
	background: $success;
	border-color: darken($success, 20%);
}

.error {
	@extend %alert;
	background: $error;
	border-color: darken($error, 20%);
}

.info {
	@extend %alert;
	background: $info;
	border-color: darken($info, 20%);
}

.warning {
	@extend %alert;
	background: $warning;
	border-color: darken($warning, 20%);
}