form {
	margin-bottom: 2em;
}
input,
button,
label {
	font-size: inherit;
}

input[type="text"] {
	padding: .1em .25em;
}

input[type="submit"],
button[type="submit"] {
	background: $success;
	border: 2px solid darken($success, 20%);
	margin: .25em 0;
}

button[type="reset"] {
	background: lighten($primary, 60%);
	border: 2px solid lighten($primary,20%);
	margin: .25em 0;
}