---
project-title: PROJECT
---
<div id="annual-report" class="project">
	<h2>2013 Annual Report</h2>
	<h3>Gateway Church</h3>
	<div class="project-info">
		<a href="http://annualreport.gatewaypeople.com" class="project-thumb">
			<img src="images/projects/annual-report.jpg" align="right" />
		</a>
		The 2013 Annual Report was built to provide a responsive and interactive version of the previous year's desktop-only instance.  The intro page uses an SVG overlay on top of HTML5 video to provide the 'cutout' effect.  As you scroll down the page, elements will animate as they enter the window.  There are a number of CSS3 animations at work as well as a few jQuery plugins and custom scripts.  
	</div>

	<a href="http://annualreport.gatewaypeople.com" class="view-project">View Project &rarr;</a>

	<div class="tags">
		<a href="#">Responsive Web Design</a>
	 	<a href="#">HTML5 Video</a>
	 	<a href="#">CSS3</a>
	 	<a href="#">CSS3 Animation</a>
	 	<a href="#">SVG</a>
	</div>
</div>