---
project-title: PROJECT
link: http://menssummit.com
---
<div id="annual-report" class="project">
	<h2>Mens Summit</h2>
	<h3>Gateway Church</h3>
	<div class="project-info">
		<a href="{{ page.link }}" class="project-thumb">
			<img src="images/projects/mens-summit.jpg" align="right" />
		</a>
		Harnessing the power of SASS, this cut and dry project came together quickly and with a bonus:  Easy versioning!  With variables controlling the styles, changing the theme from the 2014 colors to the 2015 colors was a snap.
	</div>

	<a href="{{ page.link }} class="view-project">View Project &rarr;</a>

	<div class="tags">
	 	<a href="#">Responsive Web Design</a>
	 	<a href="#">SASS/SCSS</a>
	 	<a href="#">Drupal</a>
	</div>
</div>