<div id="pink-impact" class="project">
		{{filename}}
	<h2>Pink Impact</h2>
	<h3>Gateway Church</h3>
	<div class="project-info">
		<a href="http://staging.2015.pinkimpact.com" class="project-thumb">
			<img src="images/projects/pink-impact.jpg" align="right" />
		</a>
		This project is fully-responsive and has a few fun elements: 
		SVG masking on the homepage text elements allows for a shining effect which responds to your mouse.  
		SVG logos lend themselves to easy adjustments on Retina displays.  
		Fun circles are randomly generated and animate when you hover over a biography thumbnail.  
		The main navigation moves out of your way as your scroll down the page, but appears again when you decide to scroll back up.  
		<br /><br />
		This project also harnesses the power of Grunt to orchestrate copiliation and optimization behind the scenes.
	</div>

	<a href="http://staging.2015.pinkimpact.com" class="view-project">View Project &rarr;</a>

	<div class="tags">
	 	<a href="#">Responsive Web Design</a>
	 	<a href="#">SASS/SCSS</a>
	 	<a href="#">Drupal</a>
	 	<a href="#">Grunt</a>
	 	<a href="#">SVG</a>

	</div>
</div>